---
import Layout from '../../../layouts/layout.astro';
import { A, Note, Title, P, H2, H3 } from '../../../components';
import { notes } from '../../notes';

const info = notes['unstructured-data'];
---

<Layout>
	<Note>
		<Title
			subtitle={info.subtitle}
			date={info.date}>
			{info.title}
		</Title>
		<P>hello</P>
	</Note>
</Layout>
