---
import Layout from '../../../layouts/layout.astro';
import { Note, Title, P, H2 } from '../../../components';
import MatchesHeatmap from './MatchesHeatmap.astro';
import MatchesBar from './MatchesBar.astro';
import MatchesDayOfWeek from './MatchesDayOfWeek.astro';
import MatchesHeatmapMe from './MatchesHeatmapMe.astro';
import MatchesPerPlayer from './MatchesPerPlayer.astro';
import MatchesTimeOfDay from './MatchesTimeOfDay.astro';
import GoalsVsMatches from './GoalsVsMatches.astro';
import MatchesVsGoalsPerMatch from './MatchesVsGoalsPerMatch.astro';
import OffensiveGoalRate from './OffensiveGoalRate.astro';
import WinStreakMe from './WinStreakMe.astro';
import PlayerInvolvement from './PlayerInvolvement.astro';
import PlayerInvolvementWins from './PlayerInvolvementWins.astro';
import { notes } from '../../notes';

const info = notes['league-data'];
---

<Layout>
	<Note>
		<Title subtitle={info.subtitle}>
			{info.title}
		</Title>
		<P>
			About 4 years ago I graduated from university and started my first job at a company. Some two
			weeks into my employment I was asked to join a game of foosball (also known as table soccer or <em
				>töggele</em
			> if you care for some swiss german) by some colleagues. It was fun!
		</P>
		<P>
			Anyway, so my career took off, I enjoyed the craft very much and like to say I contributed one
			or the other valuable thing to the people around me. Today, I can proudly call myself a Senior
			<s>Foosball Player</s>
			<em>*cough*</em> Software Engineer.
		</P>
		<MatchesHeatmap />
		<MatchesBar />
		<MatchesDayOfWeek />
		<MatchesHeatmapMe />
		<MatchesPerPlayer />
		<MatchesTimeOfDay />
		<GoalsVsMatches />
		<MatchesVsGoalsPerMatch />
		<OffensiveGoalRate />
		<WinStreakMe />
		<PlayerInvolvement />
		<PlayerInvolvementWins />
		<H2>What's next?</H2>
		<P>
			There are of course many more interesting visualizations left untouched here. If you have a
			great idea make sure to let me know in the feedback box on the bottom right of the page.
		</P>
		<P>
			The thing we're really interested in however, is who's the best. After all, at least half the
			enjoyment (according to me) of a competitive activity is being able to tell others they suck
			if you win. But how do we know who is the best? A simple measure like the ratio of wins to
			matches played has shortcomings. Luckily this is a well established problem with intersting
			solutions. In a follow up note we will compare different ranking algorithms by their ability
			to predict the outcome of future matches.
		</P>
	</Note>
</Layout>
