---
import Layout from '../../../layouts/layout.astro';
import { Info, Note, Title, P, H2, A, Details } from '../../../components';
import MatchesHeatmap from './MatchesHeatmap.astro';
import MatchesBar from './MatchesBar.astro';
import MatchesDayOfWeek from './MatchesDayOfWeek.astro';
import MatchesHeatmapMe from './MatchesHeatmapMe.astro';
import MatchesPerPlayer from './MatchesPerPlayer.astro';
import MatchesTimeOfDay from './MatchesTimeOfDay.astro';
import GoalsVsMatches from './GoalsVsMatches.astro';
import MatchesVsGoalsPerMatch from './MatchesVsGoalsPerMatch.astro';
import OffensiveGoalRate from './OffensiveGoalRate.astro';
import WinStreakMe from './WinStreakMe.astro';
import PlayerInvolvement from './PlayerInvolvement.astro';
import PlayerInvolvementWins from './PlayerInvolvementWins.astro';
import { notes } from '../../notes';

const info = notes['league-data'];
---

<Layout>
	<Note>
		<Title subtitle={info.subtitle}>
			{info.title}
		</Title>
		<Info>Work in progress</Info>
		<P>
			About 4 years ago I graduated from university and started my first job at a company. About two
			weeks into my employment I was asked to join a game of foosball (also known as table soccer or <em
				>töggele</em
			> if you care for some swiss german) by some colleagues. It was fun!
		</P>
		<P>
			Anyway, so my career took off, I enjoyed the craft very much and developed some solid skills.
			I'd even say I made one or the other valuable contribution to the people around me and their
			success. So much so, that today I can proudly call myself Senior
			<s>Foosball Player</s>
			<em>*cough*</em> Software Engineer.
		</P>
		<P>
			All jokes aside, I did spend most of my time writing software (sitting in meetings) and far
			too little playing foosball. Luckily a colleague built a web app that has been used to
			meticulously track every match played at work, so I <em>could</em> give you the exact time I spent
			playing foosball. But I won't without a lawyer in the room. Thinking about this now, you'd assume
			someone going through the trouble of building an app where people willingly record their slacking
			off would be out to blackmail you later. I'm reasonably certain that's not the case. Especially
			because the author is also the most prolific player.
		</P>
		<H2>Data</H2>
		<P>
			So this is the deal: For the past nine years employees of my company have played foosball and
			tracked every match. The data includes timestamps of the start and end of every match, who
			played, in what constellation and who scored goals. The app also implements a ranking based on
			an <A href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo rating system</A>. A typical
			pilgrimage to the foosball table would include 4 matches to 5 goals each. The players are
			arranged in a specific way and permutated between matches. For instance, among 4 players and 4
			matches, everyone needs to play with someone twice. The app would ensure that the top and
			bottom rated players play together twice to even out the playing field.
		</P>
		<P>
			Naturally, this treasure trove of company time embezzelment data deserves a thorough look.
			First, I want to run some analysis on the data and produce some nice visualizations. That's
			the note you're looking at right now. In the data and the plots you'll see below, I have
			anonymized the company-internal shortnames to protect the innocent (or rather the guilty). In
			a follow-up, I will compare different ranking algorithms and hopefully improve on the current
			implementation. Lastly, the goal is to implement V2 of this app as the old one is showing its
			age.
		</P>
		<Details title="How are these plots generated?">
			<P>
				I'm using an excellent JS library called
				<A href="https://observablehq.com/plot/">Observable Plot</A>. It's highly configurable but
				still fairly ergonomic to use. In fact, the library is written by the same author as D3,
				<em>the</em> data viz library.
			</P>
			<P>
				The plots are generated statically at build-time and shipped as SVGs in the HTML. This leads
				to quite a heavy page at around half a megabyte. Still better than shipping 12 megabytes of
				match data and having the client render the plots though.
			</P>
		</Details>
		<H2>Match distributions</H2>
		<P>
			In total the data set contains around 25'000 matches spanning over 9 years! This works out to
			about 8 matches played per day (or over 10 per working day). I, for instance, was personally
			involved in 1'048 of them. There are a total of 254 players represented, scoring a collective
			188'027 goals. No wonder the metal plates behind the goals are so banged up. The average
			duration of a game is approximately 4 and a half minutes (remember it's just 5 goals).
		</P>
		<P>Let's see how these games are distributed over the years:</P>
		<MatchesHeatmap />
		<P>
			What's immediately evident is the general decline in eagerness to play over the years. When I
			joined at the end of 2019 the company was already in a pitiful state. And of course, COVID-19
			has immortalized itself in yet another dataset. During mandatory homeoffice periods there is a
			disturbing lack of matches visible.
		</P>
		<P>
			What's somewhat less obvious are the heroic actions of a single team (nay, single <em
				>player</em
			>) in reviving the foosball culture. In 2022, as the matches start trickling in again, you'll
			notice that most games are played on Thursdays. This happens to be the day where my team would
			come together in the office to socialize. And following my call, some people would reluctantly
			join for a match. And so it would begin.
		</P>
		<P>
			There is still a long way to go of course, the golden age of ~60 games per day in 2014 and
			2015 is long gone. But one day we shall ring in the days of bountiful matches again. When we
			look at the number of matches played by quarter we can see that we are at least at
			pre-COVID-19 levels.
		</P>
		<MatchesBar />
		<P>
			Overall, the matches are distributed quite evenly across all weekdays. A few games have been
			played on Saturday, this might have been at some company events. And not a single game on
			Sunday, almost as if people consider foosball work and god-fearingly refuse to do it on
			<em>that</em> day.
		</P>
		<MatchesDayOfWeek />
		<P>
			If we plotted the day of week distribution over time we'd see that lately it has been very
			hard to find enough players on a Friday, as visible in Figure 1.
		</P>
		<P>
			Most matches are played in the 2 hours around lunch. Maybe that's when people are unlikely to
			have meetings. Though some mad people have the nerve to show up to the office at 7 and go
			straight for the foosball table.
		</P>
		<MatchesTimeOfDay />
		<MatchesPerPlayer />
		<P>
			In a small personal detour, let's look at the distribution of matches I played. A fun fact
			about this is that of all games played in the last two years, I was involved in 78%. Did I
			already mention you shouldn't bring this to the attention of my companys management?
		</P>
		<MatchesHeatmapMe />
		<GoalsVsMatches />
		<MatchesVsGoalsPerMatch />
		<OffensiveGoalRate />
		<WinStreakMe />
		<PlayerInvolvement />
		<PlayerInvolvementWins />
		<H2>What's next?</H2>
		<P>
			There are of course many more interesting visualizations left untouched here. If you have a
			great idea make sure to let me know in the feedback box on the bottom right of the page.
		</P>
		<P>
			The thing we're really interested in however, is who's the best. After all, at least half the
			enjoyment (according to me) of a competitive activity is being able to tell others they suck
			if you win. But how do we know who is the best? A simple measure like the ratio of wins to
			matches played has shortcomings. Luckily this is a well established problem with intersting
			solutions. In a follow up note we will compare different ranking algorithms by their ability
			to predict the outcome of future matches.
		</P>
	</Note>
</Layout>
