@import 'tailwindcss';

:where(p):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	padding-bottom: 1rem;
}

:where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	@apply text-xl font-semibold mb-3 mt-6;
}

:where(h3):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	@apply text-lg font-semibold mb-2 mt-2;
}

:where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	@apply font-mono bg-gray-200 dark:bg-gray-700 p-0.5 rounded-sm;
}

:where(a):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	@apply underline decoration-1 border-dashed;
}

:where(pre):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	color: var(--tw-prose-pre-code);
	background-color: var(--tw-prose-pre-bg);
	overflow-x: auto;
	font-weight: 400;
	font-size: 0.875em;
	line-height: 1.7142857;
	margin-top: 1.7142857em;
	margin-bottom: 1.7142857em;
	border-radius: 0.2rem;
	padding-top: 0.8571429em;
	padding-inline-end: 1.1428571em;
	padding-bottom: 0.8571429em;
	padding-inline-start: 1.1428571em;
}

:where(pre code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	background-color: transparent;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-weight: inherit;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}

p:has(+ pre) {
	padding-bottom: 0;
}

.container p:last-child {
	padding-bottom: 0;
}

pre:has(+ .caption) {
	margin-bottom: 1rem;
}

pre + .caption {
	@apply text-center text-gray-800 dark:text-gray-100 text-sm italic font-serif mb-2;
}

div:has(table) + .caption {
	@apply mt-4 text-center text-gray-800 dark:text-gray-100 text-sm italic font-serif mb-2;
}

table {
	@apply w-full;
}

div:has(table) {
	@apply md:w-full mx-auto mt-4 border border-black dark:border-white p-4 shadow-[6px_6px_0_#00000020] dark:dark:shadow-[6px_6px_0_#FFFFFF40];
}

th {
	@apply border-b border-black dark:border-white;
}

p:has(+ ul) {
	padding-bottom: 0rem;
}

p:has(+ ol) {
	padding-bottom: 0rem;
}

:where(ol):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: decimal;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	padding-inline-start: 1.625em;
}

:where(ol[type='A']):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: upper-alpha;
}

:where(ol[type='a']):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: lower-alpha;
}

:where(ol[type='A' s]):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: upper-alpha;
}

:where(ol[type='a' s]):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: lower-alpha;
}

:where(ol[type='I']):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: upper-roman;
}

:where(ol[type='i']):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: lower-roman;
}

:where(ol[type='I' s]):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: upper-roman;
}

:where(ol[type='i' s]):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: lower-roman;
}

:where(ol[type='1']):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: decimal;
}

:where(ul):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	list-style-type: '-';
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	padding-inline-start: 1.625em;
}

:where(ol > li):not(:where([class~='not-prose'], [class~='not-prose'] *))::marker {
	font-weight: 400;
	color: var(--tw-prose-counters);
}

:where(ul > li):not(:where([class~='not-prose'], [class~='not-prose'] *))::marker {
	color: var(--tw-prose-bullets);
}

:where(ol):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	padding-inline-start: 2em;
}

:where(ul):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	padding-inline-start: 1.5em;
}

:where(li):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

:where(ol > li):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	padding-inline-start: 0.4em;
}

:where(ul > li):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	padding-inline-start: 0.7em;
}

:where(img):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	@apply my-8 border dark:border-white bg-stone-50 shadow-[6px_6px_0_#00000020] dark:shadow-[6px_6px_0_#FFFFFF40];
}

:where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
	font-weight: 500;
	font-style: italic;
	color: var(--tw-prose-quotes);
	border-inline-start-width: 0.25rem;
	border-inline-start-color: var(--prose-blockquote-border-color);
	quotes: '\201C' '\201D' '\2018' '\2019';
	margin-bottom: 1.5em;
	margin-top: 1em;
	padding-inline-start: 1em;
}

blockquote p:last-child {
	padding-bottom: 0;
}
