---
import { NoteSummary, WidePage } from '../components';
import Layout from '../layouts/layout.astro';
import { notes } from './notes';
---

<Layout>
	<WidePage>
		<div class="flex flex-col gap-4 w-fit xl:w-full mx-auto">
			{
				Object.values(notes).map((note) => (
					<NoteSummary
						title={note.title}
						summary={note.subtitle}
						date={note.date}
						link={note.link}
					/>
				))
			}
		</div>
	</WidePage>
</Layout>
