---
import { NoteSummary, WidePage } from '../components';
import Layout from '../layouts/layout.astro';
import { notes } from './notes';
---

<Layout>
	<WidePage>
		<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 md:gap-y-16">
			{
				Object.values(notes).map((note) => (
					<NoteSummary
						title={note.title}
						summary={note.subtitle}
						date={note.date}
						link={note.link}
					/>
				))
			}
		</div>
	</WidePage>
</Layout>
