---
import { A, Page } from '../components';
import Layout from '../layouts/layout.astro';
---

<Layout>
	<Page>
		<div class="grid grid-cols-1 md:grid-cols-3 gap-y-2 md:gap-y-24">
			<div>
				<A href="https://marending.dev">marending.dev</A>
			</div>
			<span class="col-span-2 mb-8 md:mb-0">
				My personal website. Custom designed and built with SolidJS and Astro. It's deployed on a
				small VPS using Caddy as a reverse proxy.
			</span>
			<div>
				<A href="https://rest.quest">rest.quest</A>
			</div>
			<span class="col-span-2 mb-8 md:mb-0">
				A minimal and opinionated todo web application. The user interface is designed to remove
				friction when adding projects or tasks. The state is primarily stored locally in the
				browser. Optionally, the user can supply object storage credentials to synchronize the state
				across multiple browsers. The application is implemented using SolidJS to keep the bundle
				size small.
			</span>
			<div>
				<A href="https://write.fieldnotes.land">fieldnotes.land</A>
			</div>
			<span class="col-span-2 mb-8 md:mb-0">
				An end-to-end encrypted note taking application. The web application features a <em>
					wysiwyg</em
				> markdown editor and advanced formatting including tables. Content is encrypted using a private
				key that is only stored in the browser. By encoding the decryption key in the hash of the URL,
				it's possible to share notes without the server ever seeing the data in plain text. The backend
				stores encrypted content in PostgreSQL.
			</span>
		</div>
	</Page>
</Layout>
