---
import { NoteSummary, WidePage } from '../components';
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = (await getCollection('notes')).sort(
	(a: any, b: any) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<Layout>
	<WidePage>
		<div class="flex flex-col gap-4 w-fit xl:w-full mx-auto">
			{
				posts
					?.filter((post: any) => !post.data.draft || import.meta.env.DEV)
					?.map((note: any) => (
						<NoteSummary
							title={note.data.title}
							summary={note.data.subtitle}
							date={note.data.date}
							link={note.data.link}
						/>
					))
			}
		</div>
	</WidePage>
</Layout>
