---
import { NoteSummary, Page } from '../components';
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = (await getCollection('notes')).sort(
	(a: any, b: any) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<Layout>
	<Page>
		<div class="grid md:grid-cols-2 pt-4 pb-12 gap-6 md:gap-4">
			{
				posts
					?.filter((post: any) => !post.data.draft || import.meta.env.DEV)
					?.map((note: any) => (
						<NoteSummary
							title={note.data.title}
							summary={note.data.subtitle}
							date={note.data.date}
							link={note.data.link}
						/>
					))
			}
		</div>
	</Page>
</Layout>
