---
import 'src/global.css';
import { Seo } from 'astro-seo-meta';

const { title } = Astro.props;
const { description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<Seo
			title={title}
			description={description}
			icon="/favicon.svg"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Florian Marending"
			href="https://marending.dev/rss.xml"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/><title>marending</title></head
	>

	<body class="px-4 xl:p-0 dark:bg-zinc-800 dark:text-zinc-100 max-w-6xl mx-auto">
		<slot />
	</body></html
>
