---
const pathname = new URL(Astro.request.url).pathname;
import 'src/global.css';
import BasicLayout from './BasicLayout.astro';
---

<BasicLayout>
	<div class="flex flex-row justify-between h-fit mx-auto mt-4">
		<a
			href="/"
			class="not-prose flex flex-row gap-3 h-fit">
			<div class="flex flex-row gap-2 items-center">
				<div class="flex flex-col w-fit">
					<span>florian</span>
					<span class="-mt-3">marending</span>
				</div>
			</div>
		</a>
		<nav class="flex flex-row gap-3 sm:gap-6 h-fit decoration-1">
			<a
				class={`not-prose text-sm md:text-md ${
					(pathname.startsWith('/notes') || pathname === '/') && 'underline'
				}`}
				href="/"
				>notes</a
			>
			<a
				class={`not-prose text-sm md:text-md ${pathname.startsWith('/projects') && 'underline'}`}
				href="/projects/">
				projects</a
			>
			<a
				class={`not-prose text-sm md:text-md ${pathname.startsWith('/about') && 'underline'}`}
				href="/about/">
				about</a
			>
		</nav>
	</div>
	<main>
		<slot />
	</main>
	<footer>
		<a
			class="fixed p-2 bottom-0 right-2 text-xs font-light text-gray-600 dark:text-gray-200"
			href={`/feedback/?path=${pathname}`}>
			feedback
		</a>
	</footer>
</BasicLayout>
