---
import Layout from './Layout.astro';
import { Note, Title } from 'src/components';
import 'src/typography.css';

let { frontmatter } = Astro.props;
---

<Layout>
	<Note>
		<Title
			subtitle={frontmatter.subtitle}
			date={frontmatter.date}>
			{frontmatter.title}
		</Title>
		<slot />
	</Note>
</Layout>
