---
import Layout from '../../../layouts/layout.astro';
import { Note, Title, P, H2, H3, Img } from '../../../components';
import { notes } from '../../notes';
import textli from './textli.png';

const info = notes['fieldnotes'];
---

<Layout>
	<Note>
		<Title
			subtitle={info.subtitle}
			date={info.date}>
			{info.title}
		</Title>
		<P>
			Some years ago I was very serious about upping my privacy game. From Gmail and Google Drive to
			cloud based note taking applications, I wanted to stop giving all my data to companies that
			would monetize it. The first order of business was to replace my haphazard use of Google Keep
			with a private note taking application.
		</P>
		<P>
			My requirements were simple: Allow low-friction editing, a clean UI, and end-to-end
			encryption. To my surprise I could not find a single application that fullfilled all three. So
			instead I set out to create my own. Over the next year or so, I embarked on a tumultuous
			journey to build my first "large-scale" fullstack application.
		</P>
		<H2>A brief recap</H2>
		<P>
			The very first version of this application I built featured a simple python server storing
			notes as files on disk. It didn't support multiple users and protected access using hardcoded
			basic auth. My frontend experience at this point comprised of approximately 2 months
			on-the-job React usage. So I built the UI using React, the only way I knew how: Prop drilling.
			Looking back at this code my eyes start to bleed. Anyhow, this is how it looked:
		</P>
		<Img src={textli} />
		<H2>Features</H2>
		fast editing, minimal ui, e2ee, sharing, (screenshots): Editor, search, formatting, settings, share
		dialog, shared note, login
		<H3>Non features</H3>
		version history, full text search, collaborative editing, offline mode
		<H2>Architecture</H2>
		Basic Crud, e2e encryption, shares
		<H2>Implementation</H2>
		languages, frameworks, db schema, db migration, crypto api, state management
		<H2>Deployment</H2>
		docker compose, hetzner, caddy, spa
		<H2>Learnings</H2>
		iterative, get real about commercialization
	</Note>
</Layout>
