---
import Layout from '../../../layouts/layout.astro';
import { A, Note, Title, P, Info, C, H2, Code, H3 } from '../../../components';
import { notes } from '../../notes';
import CPUResults from './CPUResults.astro';
import MemoryResults from './MemoryResults.astro';
import FileIOResults from './FileIOResults.astro';

const info = notes['vps-benchmarks'];
---

<Layout>
	<Note>
		<Title subtitle={info.subtitle}>
			{info.title}
		</Title>
		<CPUResults />
		<MemoryResults />
		<FileIOResults />
	</Note>
</Layout>
